.Intro {
    display: flex;
}
.Intro .presentation {
    margin-top: 10rem;
    margin-left: 7rem;
    z-index: 2;
}
.Intro .iam h1{
    font-size: 3rem;
    font-weight: 500;
    padding-bottom: 5px;
}
.Intro .iam h3{
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 5px;
}
.Intro .span {
    padding: 20px 0;
}
.Intro .button {
    padding: 25px 0;
}
.Intro .intro-img {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 5rem;
}
.Intro .intro-img img {
    width: 600px;
}

@media screen and (max-width: 725px) {
    .Intro .intro-img {
        width: 100vw;
        padding-right: 0rem;
        display: flex;
        justify-content: center;
    }
    .Intro .intro-img img {
        width: 500px;
    }
}

@media screen and (max-width: 570px) {
    .Intro {
        justify-content: center;
    }
    .Intro .presentation {
        margin-left: 0rem;
    }
    .Intro .iam h1 {
        font-size: 2.5rem;
    }
    
    .Intro .iam h3 {
        font-size: 1.8rem;
    }
    .Intro .intro-img img {
        width: 350px;
    }
}

@media screen and (max-width: 360px) {
    .Intro .iam h1 {
        font-size: 2rem;
    }
    .Intro .iam h3 {
        font-size: 1.4rem;
    }
    .Intro .span span {
        font-size: .7rem;
    }
    .Intro .intro-img img {
        width: 250px;
    }
}