.Intro {
    padding-left: 7rem;
    display: flex;
}
.Intro .presentation {
    z-index: 2;
}
.Intro .iam {
    padding-top: 10rem;
    max-width: 360px;
}
.Intro .iam h1{
    font-size: 3rem;
    font-weight: 500;
    padding-bottom: 5px;
}
.Intro .iam h3{
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 5px;
}
.Intro .span {
    padding: 20px 0;
}
.Intro .button {
    padding: 25px 0;
}
.Intro .intro-img {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 5rem;
}
.Intro .intro-img img {
    width: 600px;
}

@media screen and (max-width: 1000px){
    .Intro {
        justify-content: center;
    }
    .Intro .intro-img {
        padding-right: 0rem;
    }
    .Intro .intro-img img {
        width: 300px;
    }
}