.Nav {
  width: 100vw;
  height: 70px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0 5rem 0 5rem;
  z-index: 5;
}
.nav figure {
  height: 70px;
}
ul {
  display: flex;
  font-display: row;
  align-items: center;
}
li {
  padding-right: 3rem;
}
.Link {
  cursor: pointer;
}
.Link:hover {
  color: var(--title-color);
  transition: 1s;
}

#menu {
  position: absolute;
  visibility: hidden;
  margin-top: 19.98px;
  right: 50px;
}
#menu i {
  font-size: 30px;
}
input#menu {
  visibility: hidden;
}

@media screen and (max-width: 725px) {
  .Nav {
    padding: 0 2rem 0 2rem;
  }
}
@media screen and (max-width: 570px) {
  #menu {
    visibility: visible;
  }

  .nav-principal {
    background-color: var(--main-bg);
    width: 100%;
    height: calc(100vh - 70px);
    position: absolute;
    top: 70px;
    left: 100%;
    transition: all 300ms linear;
    z-index: 2;
    flex-direction: column;
    justify-content: space-around;
  }
  .nav-principal li {
    width: 100vw;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
  }
  input.menu2:checked ~ ul {
    left: 0;
  }
}

.modal-close {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  right: 0;
  color: var(--title-color);
  font-size: 1rem;
  padding: 0.8rem 0.8rem;
}
.modal-close:hover {
  color: #fff;
  transition: 1s;
}
.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
.modal.is-open {
  display: flex;
}
.form-container {
  position: relative;
  background-color: rgb(82, 82, 82);
  min-width: 260px;
  min-height: 300px;
  overflow-y: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
}
.input-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 1rem;
}
.form-container .submit {
  display: flex;
  justify-content: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--title-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--title-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
btnLanguage {
  display: flex;
  flex-direction: column;
}
