@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

:root {
    font-family: 'Ubuntu';
    --subtitle-color: #fff;
    --title-color: #fc4474;
    --paragraph-color: #8e90a3;
    --main-bg: #18142c;
    --section-bg: #201c34;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
