@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

:root {
    font-family: 'Ubuntu';
    --subtitle-color: #fff;
    --title-color: #fc4474;
    --paragraph-color: #c4c5cf;
    --main-bg: #14142c;
    --section-bg: #201c34;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  height: 100vh;
  background-color: var(--main-bg);
}
nav {
  background-color: var(--main-bg);
}
li{
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff
}
span {
  color: var(--paragraph-color);
  font-size: .9rem;
}
button {
  background-color: var(--title-color);
  color: #fff;
  padding: 15px 25px;
  border: none;
}
b {
  color: var(--title-color);
  font-weight: 500;
}
.title {
  padding-top: 8rem;
  margin-left: 7rem;
  display: flex;
  align-items: center;
}
.title div{
  width: 60px;
  margin-right: 20px;
  height: 3px;
  border-radius: 1.5px;
  background-color: var(--title-color);
}